@font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Light'), local('Galano-Grotesque-Light'),
        url('../webfonts/GalanoGrotesque-Light.woff2') format('woff2'),
        url('../webfonts/GalanoGrotesque-Light.woff') format('woff'),
        url('../webfonts/GalanoGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }